body{
    font-family: 'Fjalla One', sans-serif;
    margin:0px;
    padding:0px;
    
}
.top-left{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
    
    
}
h1{
    font-size:50px;
}
.shipon{
    color:orange;
    font-size:40px;
}
.flax-box{
    display:flex;
    margin-bottom:80px;
}
.demo{
    width:50%;
    margin-left:5%;
}
.demo img{
    width:80%;
}
.button{
    background:green;
    padding:10px;
    text-decoration: none;
    border-radius:5px;
    color:white; 
}
.demo-content{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right;
   
}